/* GENERAL CSS RESET */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: none;
}

/* VARIABLES */


/* NORMAL TAGS */
body {
 font-family: "Lato", sans-serif;
 /* back */
}

.thescreen {
  height: 100vh;
  width: 100vw;
  display: flex;
}

main {
  background-color: rgb(1, 22, 39);
}

/* NAV BAR */
.sidenav {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav {
  padding-top: 15px;
}
.sidenav a {
  font-size: 18px;
}
.mininavigation {
  display: none;
}

/* SCREEN SIZES */

@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }
  main {
    margin-left: 0;
  }
  .mininavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3em;
  }
}

/* OUTSIDE MAIN */
.stateheader {
  /* display: flex; */
  /* justify-content: center; */
  font-size: large;
  text-align: center;
  background-color: #818181;
  /* padding-left: 14px; */
}

.top {
  /* display: grid; */
  /* justify-content: center; */
  border: black 2px solid;
  /* padding-bottom: 2em; */
  /* padding-top: 1em; */
  align-items: baseline;
  background-color: #dddddd;
  box-shadow: inset;
}

.activenavigation {
  color: #f1f1f1;
  border-right: 20px #818181 solid ;
}
